/*custom fonts*/
@font-face {
  font-family: 'aileronbold';
  src: url('../fonts/aileron-bold-webfont.woff2') format('woff2'),
       url('../fonts/aileron-bold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'aileronbold_italic';
  src: url('../fonts/aileron-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/aileron-bolditalic-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'aileronregular';
  src: url('../fonts/aileron-regular-webfont.woff2') format('woff2'),
       url('../fonts/aileron-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'aileronitalic';
  src: url('../fonts/aileron-italic-webfont.woff2') format('woff2'),
       url('../fonts/aileron-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'aileronlight';
  src: url('../fonts/aileron-light-webfont.woff2') format('woff2'),
       url('../fonts/aileron-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'aileronlight_italic';
  src: url('../fonts/aileron-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/aileron-lightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'stentigaregular';
  src: url('../fonts/stentiga-webfont.woff2') format('woff2'),
       url('../fonts/stentiga-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
:root {
  /*color variables*/
  /*light*/
  --day-body: #2A2038;
  --day-link: #33147D;
  --day-heading: #FA3845;
  --day-bg: #EFEFEF;
  /*dark*/
  --night-body: #CBCFD7;
  --night-link: #28CDE4;
  --night-heading: #4AB4ED;
  --night-bg: #222539;
  /*fonts*/
  --regular:'aileronregular', Arial, Helvetica, sans-serif;
  --italic: 'aileronitalic', Arial, Helvetica, sans-serif;
  --bold: 'aileronbold', Arial, Helvetica, sans-serif;
  --bold-italic: 'aileronbold_italic', Arial, Helvetica, sans-serif;
  --light: 'aileronlight', Arial, Helvetica, sans-serif;
  --light-italic: 'aileronlight_italic', Arial, Helvetica, sans-serif;
  --display: 'stentigaregular', 'aileronregular', Arial, Helvetica, sans-serif;
}
body {
  background-color: var(--day-bg);
  background-image: url('../img/daycharm.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain; 
  color: var(--day-body);
  font-family: var(--regular);
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &.night{
    background-color: var(--night-bg);
    color: var(--night-body);
    background-image: url('../img/nightcharm.svg');
  } 
}
a {
  color: var(--day-link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  .night & {
    color: var(--night-link);
  }
}
.wrapper {
  width: 100%;
  max-width: 62.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 1rem;
}
.header { 
  width: 100%;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: 2rem;
  & nav { 
    flex-grow: 1;
    & a {
      margin-right: .875rem;
    }
  } 
  & a.toggle {
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & .big-title {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 2px;
    font-family: var(--display);
    max-width: 20rem;    
    text-transform: uppercase;
    color: var(--day-heading);
    .night & {
      color: var(--night-heading);
    }
  }
  & p {
    font-size: 1.25rem;
    line-height: 1.4;
    max-width: 30rem;
    &.es {
      display: none;
    }
  }
  & .social {
    display: flex;
    flex-direction: row;
    & .social-link {
      width: 2rem;
      height: 2rem;
      margin-right: .5rem; 
      padding: 0.5rem;
      border-radius: 50%;
      &:first-child {
        margin-left: -0.5rem;
      }
      & span {
        display: none;
      }
      & svg {
        width: 100%;
        height: auto;
        & path, & rect {
          fill: var(--day-link);
          .night & {
            fill: var(--night-link);
          }
        }
      }
      &.glass svg {
        & path {
          stroke: var(--day-link);
          .night & {
            stroke: var(--night-link);
          }
        }
      }
      &:hover {
        text-decoration: none;
        background: var(--day-link);
        .night & {
          background: var(--night-link);
        }
        & svg {
          & path, & rect {
            fill: white;
            .night & {
              fill: white;
            }
          }
        }
        &.glass svg {
          & path {
            stroke: white;
            .night & {
              stroke: white;
            }
          }
        }
      }
    }
  }
}
.footer {
  flex-grow: 0;
  padding-bottom: 2rem;
  & p {
    margin: 0;
  }
}